@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
}

.fgyv{  color: white;  position: absolute;  display: none;}


body, html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#firstline{
    list-style-type: none;
}


body{
    background-color: #202020;
    font-family: 'Saira Condensed', sans-serif;
    opacity: 0;
}

#content{
    color: white;
    padding-left: 62%;
    padding-top: 2%;
    text-align: center;
}


#content h1{
    font-size: 47px;
    display: flex;
    text-align: center;
}

#content p{
    font-size: 21px;
    display: flex;
    text-align: center;
}





#nav{
    color: white;
    background-color: #3b3b3b;
    width: 300px;
    height: 1009px;
    box-shadow: 0px 0px 20px 0px black;
    position: fixed;
    height: 100%;
}

ul div a li{
    top: 15%;
    position: relative;
}


#metas{
    width: 99%;
    height: 50px;
    text-align: center;
    margin-left: -33%;
    border-radius: 5px;
}



#graph{
    width: 99%;
    height: 50px;
    text-align: center;
    margin-left: -33%;
    border-radius: 5px;
}

#control{
    width: 99%;
    height: 50px;
    text-align: center;
    margin-left: -33%;
    border-radius: 5px;
}


#nav ul {
    padding-left: 40%;
    bottom: 10%;
    position: relative;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
}

#nav ul a{
    text-decoration: none;
    color: white;
}

#nav ul li{
    margin-top: 50%;
}

#icon{
    padding: 10%;
    margin-left: 30%;
    margin-bottom: 5%;
    position: relative;
}

#icontext{
    position: relative;
    bottom: 7%;
    margin-left: 25%;
    font-size: 28px;
}

#between{
    text-align: center;
}


#logout p{
    display: inline-table;
    
}


#logout span{
    display: inline-table;
    padding-right: 15%;
    top: 0.3%;
    position: relative;
}

#logout{
    text-decoration: none;
    color: white;
    font-size: 24px;
    left: 19%;
    position: relative;
    padding-left: 10px;
    padding-right: 75px;
    border-radius: 5px;
    
}

#closing{
    margin-left: 100px;
    top: -105px;
    position: relative;
    font-size: 28px;
    cursor: pointer;
}

#opening{
    font-size: 32px;
    opacity: 0;
    cursor: pointer;
}




#saida{
    width: 65%;
    position: relative;
    left: 20%;
    border-radius: 5px;
    height: 50px;
}

.selectBox{
    color: white;
    font-family: 'Saira Condensed', cursive;
    font-size: 19px;
}





#titulo{
    border: none;
}

#categoria{
    border: none;
}

#transferencia{
    border: none;
}

#valor{
    border: none;
}


































































.rein:hover,
.rein:focus {
  box-shadow:inset 0 0 0 2em var(--hover);
  color: black;
  font-size: 28px;
  
}


.rein {
    --color: #fff;
    --hover: #f5c116;
}

.rein {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: var(--color);
    transition: 0.25s;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    width: 500px;
}










#setleft{
    display: inline-table;
}

#setright{
    display: inline-table;
}

#mes{
    display: inline-table;
    padding: 3%;
}




.chart-wrapper{
    height: 43%;
    width: 40%;
    margin-left: 7%;
    
}

.line-bar-chart-wrapper{
    display: flex;

}

.line-bar-chart-wrapper .line-chart {
    height: 30%;
    width: 40%;
    margin-right: 2%;
    border-radius: 5px;
    z-index: -1;
 
}

.line-bar-chart-wrapper .bar-chart {
    height: 40%;
    width: 40%;
    margin-left: 2%;
    border-radius: 5px;

}

.doughnut-chart-wrapper {            
    display: flex;
    list-style-type: none;
}

.doughnut-chart1 {
    background-color: white;
    margin-top: 15%;
    border-radius: 5px;
    height: 95%;
    width: 95%;
    margin-right: 2%;
    margin-left: 2%;
    z-index: -1;
    
}

.doughnut-chart2 {
    background-color: white;
    margin-top: 15%;
    border-radius: 5px;
    height: 95%;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    
}











    @media (max-width:820px) {

        body{
            overflow-y: scroll;
            position: fixed;
          }

          #nav{
              z-index: 1;
          }

          .frdCTY{
              z-index: -1;
              top: 10%;
              left: -6%;
              position: relative;
          }
      
    }


    @media (max-width:412px) {

        body{
            overflow-y: scroll;
            position: fixed;
            height: 100%;
          }

          #nav{
              z-index: 1;
          }

          .frdCTY{
              top: 180px;
              position: relative;
          }

          .eqoOME{
              max-width: 330px;
              left: -20px;
              position: relative;
          }

          .fgloXw{
            max-width: 330px;
            left: -20px;
            position: relative;
        }

          .bkasyz{
            width: 330px;
            left: -20px;
            position: relative;
        }
      
    }







    @media (max-width:360px) {

        body{
            overflow-y: scroll;
            position: fixed;
            height: 100%;
          }

          #nav{
              z-index: 1;
          }

          .frdCTY{
              top: 250px;
              position: relative;
          }

          .eqoOME{
              max-width: 275px;
              left: -20px;
              position: relative;
          }

          .fgloXw{
            max-width: 275px;
            left: -20px;
            position: relative;
        }

          .bkasyz{
            width: 275px;
            left: -20px;
            position: relative;
        }
      
    }






    @media (max-width:393px) {

        body{
            overflow-y: scroll;
            position: fixed;
            height: 100%;
          }

          #nav{
              z-index: 1;
          }

          .frdCTY{
              top: 250px;
              position: relative;
          }

          .eqoOME{
              max-width: 310px;
              left: -20px;
              position: relative;
          }

          .fgloXw{
            max-width: 310px;
            left: -20px;
            position: relative;
        }

          .bkasyz{
            width: 310px;
            left: -20px;
            position: relative;
        }
      
    }





    @media (max-width:414px) {
      
      
        body{
            overflow-y: scroll;
            position: fixed;
            height: 100%;
          }

          #nav{
              z-index: 1;
          }

          .frdCTY{
              top: 250px;
              position: relative;
          }

          .eqoOME{
              max-width: 310px;
              left: -20px;
              position: relative;
          }

          .fgloXw{
            max-width: 310px;
            left: -20px;
            position: relative;
        }

          .bkasyz{
            width: 310px;
            left: -20px;
            position: relative;
        }
      

        
    }





















