@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
}

body, html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.fuVdYh {

    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 0;
  }


#setleft{
    display: inline-table;
}

#setright{
    display: inline-table;
}

#mes{
    display: inline-table;
    padding: 3%;
}


.setleft{
    margin-left: 320px;
    }
    
.setright{
    margin-right: 320px;
    }

.cPfwyB {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 120px;
    text-align: center;
    }

.cPfwyB {
    color: white;
    font-size: x-large;
    }

body{
    background-color: #202020;
    font-family: 'Saira Condensed', sans-serif;
    opacity: 0;
}

.selectBox{
    color: white;
    font-family: 'Saira Condensed', cursive;
    font-size: 19px;
}

.rein:hover,
.rein:focus {
  box-shadow:inset 0 0 0 2em var(--hover);
  color: black;
  font-size: 28px;
  
}
.rein {
    --color: #fff;
    --hover: #f5c116;
}
.rein {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: var(--color);
    transition: 0.25s;
    cursor: pointer;
    font-size: 25px;
    width: 500px;
}

#setleft{
    display: inline-table;
}

#setright{
    display: inline-table;
}

.eqoOME {
    padding: 20px;
    margin-top: 40px;
    display: flex;
    max-width: 400px;
 }
 .fuVdYh {

    background-color: #202020;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  border-radius: 10px;
  padding: 20px;
  margin-top: -40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  flex-direction: row-reverse;
  align-items: center;
  }

  #body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  #selectBoxBar2{
    color: black;
    border-radius: 5px;
    margin-top: 2%;
}
.meta-chart{
    background-color: white;
    margin-top: 20%;
    border-radius: 5px;
}
#meta-chart{
    width: 300px;
}
.doughnut-chart1 {
    background-color: white;
    margin-top: 15%;
    border-radius: 5px;
    height: 95%;
    width: 95%;
    margin-right: 2%;
    margin-left: 2%;
    z-index: -1;
    
}

.doughnut-chart2 {
    background-color: white;
    margin-top: 15%;
    border-radius: 5px;
    height: 95%;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    
}
.teste {
    background-color: #f5c116;
}
